# Created by https://www.gitignore.io/api/sass,visualstudiocode

### Sass ###
.sass-cache/
*.css.map

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/sass,visualstudiocode