/* NOTE: These styles are included for example purposes only */
html,
body {
    height: 100%;
    margin: 0;
    color: #454545;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.25;
}

.container {
    justify-content: center;
    display: flex;
}

.segment {
    width: 960px;
    padding: 1.5em 3em;
    border-color: #C0C0C0;
    border-style: none solid none solid;
    border-width: 0 1px 0 1px;
}

.short.segment {
    min-height: 150px;
}

input[type="text"],
select {
    margin-bottom: 0;
    color: #454545;
    font-size: 13px;
    font-style: normal;
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
}

.primary.button {
    justify-content: center;
    display: flex;
    height: 26.25px;
    min-width: 100px;
    min-height: 16px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    background-color: #69BC28;
    border: none;
    outline: none;
    cursor: pointer;
}

.secondary.button {
    justify-content: center;
    display: flex;
    height: 26.25px;
    min-width: 100px;
    min-height: 16px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    background-color: #2D73CF;
    border: none;
    outline: none;
    cursor: pointer;
}

.arc.grid {
    background-color: #F7F7F7;
    border: 1px solid #C0C0C0;
}

.wide.column {
    height: 50px;
    background-color: rgba(42, 48, 59, 0.9);
    border: 1px solid #E0E0E0;
}
