.flex.form {
    margin: 5px 11px;

    .fields {
        display: grid;
        margin: 5px 0;
        overflow: auto;

        grid-gap: 5px;
        grid-template-columns: repeat(16, 1fr);

        &.two {
            display: grid;

            grid-template-columns: repeat(2, 1fr);
             > .inline.field {
                label {
                    flex: 0 1 160px;
                }
            }
        }
    
        &.three {
            display: grid;

            grid-template-columns: repeat(3, 1fr);

             > .inline.field {
                label {
                    flex: 0 1 90px;
                }
            }
        }

        &.four {
            display: grid;

            grid-template-columns: repeat(4, 1fr);

             > .inline.field {
                label {
                    flex: 0 1 75px;
                }
            }
        }

        &.five {
            display: grid;

            grid-template-columns: repeat(5, 1fr);
        }

        &.six {
            display: grid;

            grid-template-columns: repeat(6, 1fr);
        }

        &.seven {
            display: grid;

            grid-template-columns: repeat(7, 1fr);
        }

        &.eight {
            display: grid;

            grid-template-columns: repeat(8, 1fr);
        }

         > .wide.field {
            &.one {
                grid-column: span 1;
            }

            &.two {
                grid-column: span 2;
            }

            &.three {
                grid-column: span 3;
            }

            &.four {
                grid-column: span 4;
            }

            &.five {
                grid-column: span 5;
            }

            &.six {
                grid-column: span 6;
            }

            &.seven {
                grid-column: span 7;
            }

            &.eight {
                grid-column: span 8;
            }

            &.nine {
                grid-column: span 9;
            }

            &.ten {
                grid-column: span 10;
            }

            &.eleven {
                grid-column: span 11;
            }

            &.twelve {
                grid-column: span 12;
            }

            &.thirteen {
                grid-column: span 13;
            }

            &.fourteen {
                grid-column: span 14;
            }

            &.fifteen {
                grid-column: span 15;
            }

            &.sixteen {
                grid-column: span 16;
            }
        }

         > .inline.field {
            align-items: center;
            align-content: center;
            display: flex;
            min-height: 32px;
            margin: 0;
            overflow: auto;

            label {
                min-width: 50px;
                margin-right: 5px;
                overflow: hidden;
                color: #454545;
                font-size: 13px;
                font-weight: bold;
                text-overflow: clip;
                white-space: nowrap;
            }

            input,
            select {
                flex: 1 1 0;
                min-width: 20px;
            }
        }

         > .field {
            align-items: center;
            align-content: center;
            display: grid;
            margin: 3px 0;

            grid-gap: 5px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);

            label {
                overflow: hidden;
                color: #454545;
                font-size: 13px;
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;

                grid-column: 1 / -1;
            }

            input,
            select {
                min-width: 20px;

                grid-column: 1 / -1;
            }
        }
    }

     > .checkbox.field {
        align-items: center;
        align-content: center;
        display: flex;
        min-height: 32px;
        margin: 0;
        margin-bottom: 3px;
        overflow: auto;

        label {
            margin-right: 0;
            color: #454545;
            font-size: 13px;
            font-weight: bold;
        }

        input[type="button"],
        button,
        a {
            margin-left: auto;
        }
    }

     > .inline.field {
        align-items: center;
        align-content: center;
        display: flex;
        min-height: 32px;
        overflow: auto;

        label {
            flex: 0 1 160px;
            margin-right: 5px;
            color: #454545;
            font-size: 13px;
            font-weight: bold;
        }

        input,
        select {
            flex: 1;
            min-width: 100px;
        }
    }

     > .button.field {
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        display: flex;
        min-height: 32px;

        &.left {
            justify-content: flex-start;
        }

        .left {
            margin-right: auto;
        }

        .right {
            margin-left: auto;
        }

        input[type="button"]:not(:last-child),
        button:not(:last-child),
        a:not(:last-child) {
            margin-right: 5px;
        }
    }

     > .field {
        align-items: center;
        align-content: center;
        display: grid;
        margin: 3px 0;

        grid-gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);

        label {
            color: #454545;
            font-size: 13px;
            font-weight: bold;

            grid-column: 1 / -1;
        }
        input,
        select {
            grid-column: 1 / -1;
        }
    }

    .dividing.header {
        padding: 3px 0;
        margin: 5px 0;
        color: #454545;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px solid #E7E7E7;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #E7E7E7;
    }
}
