.outlined.arc.form .field {
    border: 1px solid slateblue;
}

.outlined.arc.form .field label {
    border: 1px solid seagreen;
}

.outlined.arc.form .field input,
.outlined.arc.form .field select,
.outlined.arc.form .field .field-item {
    border: 1px solid salmon;
}

.colored.arc.form {
    background-color: #F1F1F1;
}

.colored.arc.form .field label,
.colored.arc.form .field input,
.colored.arc.form .field select,
.colored.arc.form .field .field-item {
    background-color: #FFFFFF;
}

.outlined {
    border: 1px solid black;
}

.test.container {
    margin: 5px 11px;
}
