// Form margin
$form-margin-top-bottom: 5px;
$form-margin-left-right: 11px;

// Grid gap
$space-between-fields: 15px;
$space-between-field-items: 3px;

.arc.form {
    
    margin: $form-margin-top-bottom $form-margin-left-right;
    
    .fields {
        display: grid;

        grid-gap: $space-between-fields;  
        grid-template-columns: repeat(16, 1fr);
    }

    .field {
        align-items: center;
        display: flex;
        min-width: 0;
        margin: 3px 0;
        flex-flow: row wrap;

        &::after {
            content: '';
            width: 100%;
            order: 1;
        }

        label {
            color: #454545;
            font-size: 13px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 3px;
            min-width: 0;
            order: 0;
            flex: 1;
        }

        input,
        select,
        .field-item {
            min-width: 0;
            order: 2;
            flex: 1;
        }

        img {
            order: 3;
        }

        .field,
        .fields {
            flex: auto;
            margin: 0;
            min-width: 0;
        }

    }
}

@import "custom-width-fields";
@import "number-of-fields";
