// Form margin
$form-margin-top-bottom: 5px;
$form-margin-left-right: 11px;

// Grid gap
$space-between-fields: 15px;
$space-between-field-items: 3px;

.arc.form {
    margin: $form-margin-top-bottom $form-margin-left-right;

    .fields {
        align-items: flex-start;
        display: grid;
        padding: 3px 0;

        grid-gap: $space-between-fields;
        grid-template-columns: repeat(16, 1fr);

        .field:not(.checkbox) ~ .checkbox.field {
            position: relative;
            top: 9px;
        }

         > .field {
            padding: 0;
        }
    }

    .inline.fields {
        display: flex;

         > .field {
            flex: 0 1 auto;
        }

         > .field:not(:last-child) {
             margin-right: $space-between-fields;
        }
    }

    .equal.width.fields {
        display: flex;
        padding: 3px 0;

        .field:not(:first-child) {
            margin-left: 15px;
        }

        .field {
            flex: 1 1 auto;
        }
    }

    .row {
        align-items: center;
        flex-flow: row nowrap;
        display: flex;
        min-width: 0;
        padding: 3px 0;
    }

    .field {
        align-items: center;
        flex: 1;
        flex-flow: row wrap;
        display: flex;
        min-width: 0;
        padding: 3px 0;

        &::after {
            order: 1;
            width: 100%;
            height: 0;
            content: "";
        }

        label {
            order: 0;
            min-width: 0;
            margin: 0 0 3px 0;
            overflow: hidden;
            color: #454545;
            font-size: 13px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: text;
        }

        select,
        textarea,
        .field-item,
        input[type=text],
        button[type=button] {
            flex: 1;
            order: 2;
        }

        select,
        textarea,
        input[type=text] {
            min-width: 0;
        }

        // Handles any nested field(s)
        .field,
        .fields {
            align-items: center;
            align-content: center;
            flex: 1 1 auto;
            min-width: 0;
            padding: 0;
        }
    }

    .post.field {
        flex: 0 1 auto !important;
        display: flex;
        margin-left: 5px;

        button {
            flex: 0 1 auto !important;
        }
    }

    .date.field {
        img {
            order: 3;
        }
    }

    .checkbox.field {
        align-items: center;
        align-content: center;
        align-self: center;
        display: flex;
        min-height: 32px;

        &::after {
            width: 0;
        }

        button[type=button] {
            flex: 0 1 auto;
        }

        label {
            margin: 0 0 0 3px;
            color: #454545;
            font-size: 13px;
            font-weight: normal;
            cursor: pointer;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }

        a,
        button,
        input[type=button] {
            margin-left: auto;
        }

        input[type=radio],
        input[type=checkbox] {
            margin-left: 1px;
            cursor: pointer;
        }
    }

    .button.field {
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        display: flex;
        min-height: 32px;

        &.left {
            justify-content: flex-start;
        }

        .left {
            margin-right: auto;
        }

        .right {
            margin-left: auto;
        }

        input[type=button]:not(:last-child),
        button:not(:last-child),
        a:not(:last-child) {
            margin-right: 5px;
        }

        button {
            flex: 0;
        }
    }

    .inline.field {
        align-items: center;
        align-content: center;
        display: flex;
        min-height: 32px;
        overflow: auto;

        label {
            flex: 0 1 auto;
            margin: 2px 5px 0 0;
            color: #454545;
            font-size: 13px;
            font-weight: bold;
        }

        input,
        select,
        .field-item {
            flex: 1;
            min-width: 0;
        }

        &::after {
            width: 0;
        }
    }
}

@import "form-utils";
@import "form-column-group";
@import "custom-width-fields";
@import "number-of-fields";
